Package: com.conradkramer.open
Version: 1.1.1
Architecture: iphoneos-arm
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Conrad Kramer <support@kramerapps.com>
Section: System
Description: launch apps from the command-line
Name: Open
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=openData
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=openData
Sponsor: thebigboss.org <http://thebigboss.org>
dev: conradkramer
Tag: purpose::console, role::hacker
